# Dependencies
node_modules/
**/node_modules/

# Production builds
dist/
**/dist/
build/
**/build/

# Environment variables
.env
.env.*
!.env.example
backend/.env

# Uploaded Files
backend/uploads/*
!backend/uploads/.gitkeep

# Logs & System
*.log
.DS_Store
Thumbs.db